<div class="banner">
  <ng-container *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <div *ngIf="!loading && cartProducts.length != 0" class="page">
    <div class="card main-card">
      <ng-container *ngFor="let product of cartProducts; let i = index">
        <div style="display: flex; flex-direction: row; margin-bottom: 20px">
          <div
            (mouseenter)="autoHover[i] = true"
            (mouseleave)="autoHover[i] = false"
            class="card"
            style="
              width: 192px;
              height: 140px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
            "
          >
            <carousel
              [arrows]="autoHover[i]"
              class="carousel-block"
              objectFit="cover"
              [width]="191"
              [height]="130"
              [margin]="15"
              [cellWidth]="191"
            >
              <ng-container *ngFor="let img of product['images']">
                <div class="carousel-cell previewimg">
                  <img [src]="img.url" />
                </div>
              </ng-container>
            </carousel>
          </div>
          <div style="width: 45%">
            <div class="card-body">
              <h5 class="card-title">
                <a class="prod-title" [routerLink]="['/details', product._id]">
                  {{ product.name }}
                </a>
              </h5>
              <p class="card-text">
                {{ product.description | shorten: 140:"..." }}
              </p>
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <h6
              class="card-subtitle mb-2 text-muted"
              style="font-weight: 400; color: #090979; margin-bottom: 10px"
            >
              Price Rs.{{ product.price | number: "1.2-2" }} / item
            </h6>
            <!-- <p style="margin-bottom: 6px">Quantity</p> -->
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="Basic outlined example"
            >
              <button
                [disabled]="product.cartCount == 1"
                (click)="
                  product.cartCount = product.cartCount - 1;
                  setCart();
                  calcTotal()
                "
                type="button"
                class="btn btn-primary"
              >
                -
              </button>
              <button disabled type="button" class="btn btn-outline-primary">
                {{ product.cartCount }}
              </button>
              <button
                (click)="
                  product.cartCount = product.cartCount + 1;
                  setCart();
                  calcTotal()
                "
                type="button"
                class="btn btn-primary"
              >
                +
              </button>
            </div>
            <button (click)="sweetDelete(i)" type="button" class="btn btn-link">
              Remove
            </button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="card total-block">
      <p style="display: flex; justify-content: center; align-items: center">
        Subtotal: Rs.{{ subTotal | number: "1.2-2" }}
        <button
          class="btn btn-light"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="
            border: none;
            background: transparent;
            width: 14px;
            height: 14px;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 4px;
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            class="bi bi-info-circle-fill"
            viewBox="0 0 16 16"
            style="margin: 0; color: #090979"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
         <div *ngFor="let prod of cartProducts; let i = index">
          <h6
              class="card-subtitle mb-2"
              style="font-weight: 400; color: #090979; margin-bottom: 10px"
            >
              {{prod.name}}:
            </h6>
            <h6
              class="card-subtitle mb-2 text-muted"
              style="font-weight: 400; color: #090979; margin-bottom: 10px"
            >
              Price Rs.{{ prod.price * prod.cartCount| number: "1.2-2" }}
            </h6>
            <hr *ngIf="i<cartProducts.length-1">

         </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Proceed to buy</button>
    </div>
  </div>
  <ng-container *ngIf="!cartProducts || cartProducts.length == 0">
    <div
      style="
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <p class="empty-block">No Products To Show...</p>
      <button
        (click)="toHome()"
        type="button"
        style="width: 200px; color: chucknorris"
        class="btn btn-primary"
      >
        See All Products
      </button>
    </div>
  </ng-container>
</div>
