<div class="page">
  <header>
    <h3 class="header-title">
      Update User Info:- <span class="user-title">{{ currentData?.name }}</span>
    </h3>
    <button routerLink="/users" class="backbtn" mat-raised-button>
      Back To List
    </button>
  </header>
  <div >
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!isLoading" class="form-block">
    <mat-card *ngIf="isRegistered; else postRegister" class="banner">
      <form
        class="form-block"
        [formGroup]="registerForm"
        (ngSubmit)="submitForm()"
      >
        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Enter Full Name"
            />
            <mat-error *ngIf="name.invalid">{{
              getNameErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter Email" />
            <mat-error *ngIf="email.invalid">{{
              getEmailErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="Enter Password"
            />
            <mat-error *ngIf="password.invalid">{{
              getPasswordErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </p>
        <div class="btns-block">
          <button [disabled]="registerForm.invalid" class="btn" mat-raised-button>
            Update
          </button>
          <button type="button" (click)="createForm()" class="btn" mat-raised-button>
            Reset
          </button>
        </div>
        <mat-error
          class="errorMessage"
          *ngIf="errorMessage && registerForm.pristine"
          >{{ errorMessage }}</mat-error
        >
        <!-- <mat-error class="verifyMail" *ngIf="verifyMail">{{
        verifyMail
         }}</mat-error> -->
      </form>
    </mat-card>
    <ng-template #postRegister>
      <mat-card class="postbanner">
        <h1>User Updated Successfully</h1>
        <h4>
          <a routerLink="/users/details">Click here</a> to see the details
        </h4>
        <h4><a routerLink="/users">Click here</a> to go back to the list</h4>
        <!-- <button (click)="createAgain()" class="btn" mat-raised-button>
          Create Another User
        </button> -->
        <!-- <h4><a
           (click)="createAgain()">Click here</a> to create another user
          </h4> -->
      </mat-card>
    </ng-template>
  </div>
</div>
