<div class="page">
  <header>
    <div class="logo-block">
      <img class="logo" src="../../../assets/images/logo/am-logo.png" alt="am-logo">
      <h2 class="header-title">Add New User</h2>
    </div>
    <button routerLink="/users" class="backbtn" mat-raised-button>
      Back To List
    </button>
  </header>
  <ng-container *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <div class="form-block">
    <mat-card *ngIf="!isRegistered; else postRegister" class="banner">
      <form
        class="form-block"
        [formGroup]="createUserForm"
        (ngSubmit)="submitForm()"
      >
        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input
              formControlName="name"
              matInput
              placeholder="Enter Full Name"
            />
            <mat-error *ngIf="name.invalid">{{
              getNameErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Role</mat-label>
            <input
              formControlName="role"
              matInput
              placeholder="User"
              value="user"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter Email" />
            <mat-error *ngIf="email.invalid">{{
              getEmailErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="block-height" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="Enter Password"
            />
            <mat-error *ngIf="password.invalid">{{
              getPasswordErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </p>

        <button
          [disabled]="createUserForm.invalid"
          class="btn"
          mat-raised-button
        >
          Add
        </button>

        <mat-error
          class="errorMessage"
          *ngIf="errorMessage && createUserForm.pristine"
          >{{ errorMessage }}</mat-error
        >
      </form>
    </mat-card>

    <ng-template #postRegister>
      <mat-card class="postbanner">
        <h1>User Added Successfully!</h1>
        <h4><a routerLink="/users">Click here</a> to see the list</h4>
        <button (click)="createAgain()" class="new-user-btn" mat-raised-button>
          Create Another User
        </button>
      </mat-card>
    </ng-template>
  </div>
</div>
