<header>
  <div class="logo-block">
    <img
      class="logo"
      src="../../../assets/images/logo/am-logo.png"
      alt="am-logo"
    />
    <h2 class="header-title">{{ title }}</h2>
  </div>
  <!-- <button
      class="listbtn"
      mat-raised-button
      type="button"
      routerLink="/users"
      [disabled]="!profileData?.isEmailVerified"
    >
      Users List
    </button> -->
  <!-- <button (click)="logout()" class="logoutbtn" mat-raised-button color="warn">
      Log Out
    </button> -->
  <div class="avatar-block">
    <div [matMenuTriggerFor]="menu">
      <ngx-avatar
        bgColor="#d7e3ed"
        fgColor="#020024"
        [name]="profileData?.name"
        size="50"
        title="You"
        [style]="avatarStyle"
      ></ngx-avatar>
    </div>
    <mat-menu #menu="matMenu">
      <button
        *ngIf="profileData"
        (click)="showList()"
        [disabled]="!profileData"
        mat-menu-item
      >
        <mat-icon>list</mat-icon> <span>Users List</span>
      </button>
      <button
        *ngIf="profileData"
        (click)="toProfile()"
        [disabled]="!profileData"
        mat-menu-item
      >
        <mat-icon>arrow_back</mat-icon> <span>Back To Profile</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon> <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
