<div class="page">
  <header>
    <h2 class="header-title">Users List</h2>
    <button routerLink="/users/create" class="btn" mat-raised-button>
      Add New User
    </button>
    <button routerLink="/user/my-profile" class="btn" mat-raised-button>
      Back To Profile
    </button>
  </header>
  <div *ngIf="loadFlag">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!loadFlag" class="table-block">
    <mat-paginator
      [length]="tempdata.totalResults"
      [pageSize]="tempdata.limit"
      [pageIndex]="tempdata.page - 1"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="changeTable($event)"
    >
    </mat-paginator>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td
          (click)="getDetails(element._id)"
          class="name-cell"
          title="click to see details"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="org">
        <th mat-header-cell *matHeaderCellDef>Company</th>
        <td mat-cell *matCellDef="let element">{{ element._org.name }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Verification Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isEmailVerified }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td title="edit"  mat-cell *matCellDef="let element">
          <button class="updatebutton" (click)="updateDetails(element._id)" mat-mini-fab color="primary" type="button"><mat-icon>edit</mat-icon></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td title="Delete"  mat-cell *matCellDef="let element">
          <button (click)="openConfirmationDialog(element.name, element._id)" class="dltbutton" mat-mini-fab color="warn" type="button"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="tempdata.totalResults"
      [pageSize]="tempdata.limit"
      [pageIndex]="tempdata.page - 1"
      [pageSizeOptions]="[5, 10, 15, 20]"
      (page)="changeTable($event)"
    >
    </mat-paginator>
  </div>
</div>

<!-- https://stackoverflow.com/questions/45318164/how-to-use-paginator-from-material-angular -->
