.page{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    #020024 0%,
    rgba(9, 9, 121, 1) 46%,
    rgb(65, 139, 189) 100%
  );
  color: rgb(238, 242, 248);
  /* background-color: white; */
}

.header-title{
    margin-left: 0;
    font-size: 40px;
    margin: 20px 0;
}

.btn {
  color: #020224;
  font-weight: bolder;
  height: 40px;
}

table {
  width: 95%;
  margin: 20px
}

.table-block{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
