.page {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;

  -webkit-box-shadow: 0px 3px 24px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 24px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 24px -5px rgba(0, 0, 0, 0.75);
}

.form-card {
  width: 500px;
  /* min-width: 500px; */
  height: auto;
  padding: 20px;
  margin: 10px 5px 10px 20px;
  display: flex;

  border-radius: 5px;
  flex-direction: column;
}

.order-summary{
  color: white;
  margin: 10px 0 0 10px;
}

.order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  background-color: #090979;
}

.text-color {
  color: #090979;
}
