<div class="page">
  <div class="banner">
    <div *ngIf="!isVerified; else postVerified">
      <h2>Checking for email verification...</h2>
    </div>
    <ng-template #postVerified>
      <h2>Email verification successful!</h2>
    </ng-template>
    <ng-container *ngIf="!isVerified && !errorMessage">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-container>
    <ng-container *ngIf="errorMessage">
      <h2 class="error-msg">{{ errorMessage }}</h2>
    </ng-container>
    <h4><a routerLink="/seller/auth/login">Click here</a> to go to login page</h4>
  </div>
</div>
