<div class="page">
  <div class="banner">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="logo-block">
        <img
          class="logo"
          src="../../../assets/images/logo/am-logo.png"
          alt="am-logo"
        />
        <h3 class="header-title">Login Here</h3>
      </div>
      <p>
        <mat-form-field class="block-height" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Enter Email" />
          <mat-error *ngIf="email.invalid">{{
            getEmailErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="block-height" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder="Enter Password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </p>
      <!-- <button type="button" (click)="executeImportantAction()">Important action</button> -->
      <button [disabled]="loginForm.invalid" class="btn" mat-raised-button>
        Login
      </button>

      <mat-error
        class="errorMessage"
        *ngIf="errorMessage && loginForm.pristine"
        >{{ errorMessage }}</mat-error
      >

      <div class="divider-block">
        <mat-divider class="divider"></mat-divider>
        <p>Or</p>
        <mat-divider class="divider"></mat-divider>
      </div>

      <div class="social-btns">
        <div></div>
        <asl-google-signin-button></asl-google-signin-button>
        <button type="button" class="fb-btn" (click)="facebookSignin()">
          <mat-icon>facebook</mat-icon>
        </button>
      </div>

      <div class="no-acc-block">
        <div class="registerbtn" routerLink="/auth/register">
          Don't have an account?
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <cool-facebook-button color="light">
    Login with Facebook
  </cool-facebook-button> -->
<!--  -->
<!-- <cool-google-button type="button" (click)="signInWithGoogle()" color="light">
    Login with Google
    </cool-google-button> -->
<!--  -->
<!-- <div class="card-block">
      <button class="btn btn-social-icon btn-google" type="button" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
    </div> -->
<!--  -->
<!-- <div>
      <div id="buttonDiv" ></div>
    </div> -->
<!-- social login method: from github -->
