<div class="page">
  <div class="banner">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="logo-block">
        <img
          class="logo"
          src="../../../assets/images/logo/am-logo.png"
          alt="am-logo"
        />
        <h3 class="header-title">Login Here</h3>
      </div>
      <p>
        <mat-form-field class="block-height" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Enter Email" />
          <mat-error *ngIf="email.invalid">{{
            getEmailErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <!-- <mat-form-field class="block-height" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Enter Password"
          />

          <mat-error *ngIf="password.invalid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field> -->
        <!--  -->
        <mat-form-field class="block-height" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            formControlName="password"
            matInput
            placeholder="Enter Password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </p>
      <button [disabled]="loginForm.invalid" class="btn" mat-raised-button>
        Login
      </button>

      <mat-error
        class="errorMessage"
        *ngIf="errorMessage && loginForm.pristine"
        >{{ errorMessage }}</mat-error
      >

      <div>
        <asl-google-signin-button>
          <cool-google-button type="button" color="light">
            Login with Google
          </cool-google-button>
        </asl-google-signin-button>
      </div>

      <div class="no-acc-block">
        <div class="registerbtn" routerLink="/auth/register">
          Don't have an account?
        </div>
      </div>
    </form>
  </div>
</div>
