<div class="page">
  <ng-container *ngIf="loading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <div *ngIf="!loading" class="info-block">
    <mat-card class="card">
      <div class="update-btn">
        <button
          title="Click to update"
          class="updatebutton"
          [routerLink]="['/seller/users/update', currentId]"
          mat-mini-fab
          color="primary"
          type="button"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="avatar-block">
        <ngx-avatar [name]="currentData?.name" size="100"></ngx-avatar>
      </div>
      <h3>
        Name:-
        <span>
          {{ currentData?.name }}
        </span>
      </h3>
      <h3>
        email:-
        <span>
          {{ currentData?.email }}
        </span>
      </h3>
      <h3>
        Role:-
        <span>
          {{ currentData?.role }}
        </span>
      </h3>
      <h3>
        Organization:-
        <span>
          {{ currentData?._org.name }}
        </span>
      </h3>
      <h3>
        Org email:-
        <span>
          {{ currentData?._org.email }}
        </span>
      </h3>
      <h3>
        Verification Status:-
        <span>
          {{ currentData?.isEmailVerified }}
        </span>
      </h3>
    </mat-card>
  </div>
</div>

<!-- https://stackoverflow.com/questions/45318164/how-to-use-paginator-from-material-angular -->
