p {
  margin: 8px 0;
}

.block-height {
  height: 80px;
  width: 400px;
}

.banner {
  color: #090979;
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(243, 243, 243);
  /* border: 2px solid grey; */
  border-radius: 20px;
  padding: 20px;
  height: 435px;
}
input {
  background-color: #f3f3f3;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset !important;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    #020024 0%,
    #090979 46%,
    rgb(65, 139, 189) 100%
  );
}

.title {
  font-size: 30px;
  margin-top: 0;
}

.btn {
  color: white;
  background-color: #090979;
  font-weight: bold;
  margin-bottom: 15px;
}

.registerbtn {
  width: 180px;
  /* margin: 25px; */
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.no-acc-block {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.errorMessage {
  margin: 0 auto 10px auto;
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.fb-btn {
  border: none;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 3px;
}

.social-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divider-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 0; */
}

.divider {
  height: 0.5px;
  width: 200px;
  color: #090979;
  background-color: #090979;
  margin: 0 10px;
  border: none;
}

.header-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
