<div class="banner">
  <div class="products-block">
    <ng-container *ngFor="let product of productsArr; let i = index">
        <!-- {{product['images'][0]['url']}} -->
      <mat-card [routerLink]="['/products/details', product._id]"  class="card">
        <img mat-card-image [src]="product['images'][0]['url']" alt="" />
         <!-- || 'https://via.placeholder.com/150' -->
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-container>
  </div>
</div>
