.page {
  width: 100vw;
  height: 100vh - 90px;
  box-sizing: border-box;
}

header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    #020024 0%,
    rgba(9, 9, 121, 1) 46%,
    rgb(65, 139, 189) 100%
  );
  color: rgb(238, 242, 248);
  /* background-color: white; */
}

.header-title {
  margin-left: 0;
  font-size: 30px;
  margin: 20px 20px;
}

.backbtn {
  color: #020224;
  font-weight: bolder;
  height: 40px;
  margin: 0 30px;
  border-radius: 100vmax;
}

.postbanner {
  color: #090979;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(245, 247, 255);
  /* border: 2px solid grey; */
  border-radius: 20px;
  padding: 20px;
  height: 300px;
}
input {
  background-color: rgb(255, 255, 255);
}

.form-block {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 30px;
  margin-top: 0;
}

.btn {
  color: white;
  background-color: #090979;
  font-weight: bold;
  margin: 0 15px 15px 15px;
  border-radius: 100vmax;
}

.loginbtn {
  /* margin: 15px; */
  font-weight: bold;
  cursor: pointer;
  border-radius: 100vmax;
}

.have-acc-block {
  display: flex;
  justify-content: center;
}

.errorMessage {
  margin: 0 auto 10px auto;
}

.verifyMail {
  margin: 0 auto 10px auto;
  color: green;
}

.banner {
  width: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 2px solid grey; */
  border-radius: 20px;
  height: 450px;
  /* height: 70vh; */
}

p,
.mat-form-field {
  width: 100%;
  margin-top: 0;
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
