.page {
  padding: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  width: 880px;
  min-width: 880px;
  height: auto;
  padding: 20px;
  margin: 10px 20px;
  display: flex;

  border-radius: 5px;
  flex-direction: row;
  -webkit-box-shadow: 0px 3px 24px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 24px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 24px -5px rgba(0, 0, 0, 0.75);
}

.content {
  padding: 20px;
}

.hidden {
  display: none;
}

.address-blocks {
  margin: 0 0 10px 10px;
  color: #090979;
}

.address-details {
  width: auto;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #090979;
}

.address-text,
.summary-text {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: #090979;
}

.prod-text{
  font-size: 15px;
  font-weight: 400;
  color: #090979;
}

span {
  font-weight: 550;
  color: #090979;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
