/* header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgb(65, 139, 189) 100%);
    color: rgb(238, 242, 248);
}

.btn{
    color: white;
    font-weight: bolder;
    height: 40px;
} */

/* header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 46%,
    rgb(65, 139, 189) 100%
  );
  color: rgb(238, 242, 248);
} */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    #020024 0%,
    rgba(9, 9, 121, 1) 46%,
    rgb(65, 139, 189) 100%
  );
  color: rgb(238, 242, 248);
  /* background-color: white; */
}

.btn {
  color: white;
  font-weight: bolder;
  height: 40px;
  border-radius: 100vmax;
}

.profile-block {
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listbtn {
  color: #020224;
  font-weight: bolder;
  height: 40px;
  margin: 0 30px;
  border-radius: 100vmax;
}

.logoutbtn{
  font-weight: bolder;
  height: 40px;
  margin: 0 30px;
  border-radius: 100vmax;
}

/* .header-title {
  margin-left: 0;
  font-size: 40px;
  font-weight: bold;
  margin: 0 30px;
} */

.header-title{
    margin-left: 0;
    font-size: 40px;
    margin: 20px 20px;
}

.logo-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo{
  height: 50px;
  width: 50px;
}