<div class="page">
  <!-- <header>
    <div class="logo-block">
      <img
        class="logo"
        src="../../../assets/images/logo/am-logo.png"
        alt="am-logo"
      />
      <h2 class="header-title">Profile</h2>
    </div>

    <div class="avatar-block">
      <div [matMenuTriggerFor]="menu">
        <ngx-avatar
          bgColor="#d7e3ed"
          fgColor="#020024"
          [name]="profileData?.name"
          size="50"
          title="You"
          [style]="avatarStyle"
        ></ngx-avatar>
      </div>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="profileData?.isEmailVerified"
          routerLink="/users"
          [disabled]="!profileData?.isEmailVerified"
          mat-menu-item
        >
          <mat-icon>list</mat-icon> <span>Users List</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon> <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </header> -->
  <ng-container *ngIf="!profileData">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <div *ngIf="profileData" class="profile-block">
    <h2>Name:- {{ profileData?.name }}</h2>
    <h2>Email:- {{ profileData?.email }}</h2>
    <h2>Role:- {{ profileData?.role }}</h2>
    <h2>Email verification Status:- {{ profileData?.isEmailVerified }}</h2>
    <h2>Company Name:- {{ profileData?._org.name }}</h2>
  </div>
</div>

<!-- header content without avatar & menu -->
<!-- <button
      class="listbtn"
      mat-raised-button
      type="button"
      routerLink="/users"
      [disabled]="!profileData?.isEmailVerified"
    >
      Users List
    </button> -->
<!-- <button (click)="logout()" class="logoutbtn" mat-raised-button color="warn">
      Log Out
    </button> -->
