<div class="page">
  <div class="banner">
    <div  *ngIf="!isReset; else postVerified">
      <h2>Resetting password...</h2>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          [(ngModel)]="newPassword"
        />
        <label for="floatingPassword">Enter New Password</label>
      </div>
      <ng-container *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-container>
      <button
        (click)="resetPassword()"
        class="btn btn-primary"
        style="margin: 20px"
      >
        Reset
      </button>
      <ng-container>
        <h2 class="error-msg"></h2>
      </ng-container>
    </div>
    <ng-template #postVerified>
      <h2>Password changed successfully!</h2>
    </ng-template>
    <h4>
      <a routerLink="/seller/auth/login">Click here</a> to go to login page
    </h4>
  </div>
</div>
