<ng-container *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<div class="banner">
  <div *ngIf="!loading" class="products-block">
    <ng-container *ngFor="let product of productsArr; let i = index">
      <div
        (mouseenter)="autoHover[i] = true"
        (mouseleave)="autoHover[i] = false"
        class="card"
        style="width: 192px; height: 240px"
      >
        <carousel
          [arrows]="autoHover[i]"
          class="carousel-block"
          objectFit="cover"
          [width]="192"
          [height]="130"
          [margin]="15"
          [cellWidth]="192"
        >
          <ng-container
            *ngFor="
              let img of product['images']
                | paginate
                  : {
                      id: 'my-pg',
                      itemsPerPage: totalData.limit,
                      currentPage: totalData.page,
                      totalItems: totalData.totalResults
                    }
            "
          >
            <div class="carousel-cell previewimg">
              <img src="{{ img.url }}" />
            </div>
          </ng-container>
        </carousel>
        <div class="card-body">
          <h5 class="card-title">
            <a
              class="prod-title"
              [routerLink]="['/seller/products/details', product._id]"
              >{{ product.name | shorten: 15:"..." }}</a
            >
          </h5>
          <div class="desc">
            <p [innerHtml]="product.description"  class="card-text">
            </p>
          </div>
          <p  class="card-text">
            Rs.{{ product.price }}
          </p>
        </div>
        <a
          title="Delete"
          class="remove-image"
          (click)="
            sweetDelete(product.name, product._id, i); $event.stopPropagation()
          "
          style="display: inline"
          >&#215;</a
        >
      </div>
    </ng-container>
  </div>
  <div class="pagination-block" *ngIf="!loading && !empty">
    <div>
      <pagination-controls
        id="my-pg"
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
  <div *ngIf="empty">
    <p class="empty-block">No Products To Show...</p>
  </div>
</div>

<!-- <mat-card [routerLink]="['/products/details', product._id]"  class="card">
    <img mat-card-image [src]="product['images'][0]['url']" alt="" />
    <mat-card-header>
      <mat-card-title>{{product.name}}</mat-card-title>
      <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card> -->
<!-- || 'https://via.placeholder.com/150' -->
