header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 90px;
  /* background: rgb(2, 0, 36); */
  background: linear-gradient(90deg, #020024 0%, #090979 46%, #418bbd 100%);
  /* background: linear-gradient(
    90deg,
    #020024 0%,
    #090979 46%,
    #418bbd 65%,
    #c5deee 85%,
    #fff 100%
  ); */
  color: #eef2f8;
  /* background-color: white; */
}

.btn {
  color: white;
  font-weight: bolder;
  height: 40px;
  border-radius: 100vmax;
}

.profile-block {
  padding: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listbtn {
  color: #020224;
  font-weight: bolder;
  height: 40px;
  margin: 0 30px;
  border-radius: 100vmax;
}

.logoutbtn {
  color: white;
  background-color: rgb(238, 4, 4);
}

/* .header-title {
  margin-left: 0;
  font-size: 40px;
  font-weight: bold;
  margin: 0 30px;
} */

.header-title {
  margin-left: 0;
  font-size: 40px;
  margin: 20px 20px;
}

.logo-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
}

.avatar-block {
  /* position: fixed; */
  /* top: 15px;
  right: 15px; */
  font-weight: bolder;
  margin: 0 30px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-title {
  text-align: center;
  pointer-events: none;
  padding: 0;
  margin: 0;
}

.settings-icon{
  font-size: 60px;
  width: 60px;
  height: 60px;
  /* border-radius: 100vmax 100vmax 0 0; */
  transform: rotate(180deg);
  margin-top: -120px;
  /* margin-left: 45px; */
  /* transform: scale(3); */
}

.test{
  background-color: red;
  width: 80px;
  height: 40px;
  /* transform: rotate(45deg); */
  /* border-radius: 100px 100px 0 100px; */
  border-radius: 100px 100px 0 0;
}