<header>
  <div class="logo-block">
    <div *ngIf="previousRouteService.getPreviousUrl() !== loginUrl">
      <mat-icon title="Back" (click)="backBtn()" style="cursor: pointer"
        >arrow_back_ios</mat-icon
      >
    </div>
    <img
      title="Home"
      (click)="goHome()"
      class="logo"
      src="../../../assets/images/logo/am-logo.png"
      alt="am-logo"
    />
    <h2 class="header-title">{{ title }}</h2>
  </div>

  <div *ngIf="showAvatar" class="avatar-block">
    <mat-card-content *ngIf="profileData.name" class="welcome-title"
      >Hello, {{ profileData?.name.split(" ")[0] }}</mat-card-content
    >
    <div class="initials">
      <div
        #hover
        style="cursor: pointer"
        [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
        (mouseenter)="menuTrigger.openMenu()"
      >
        <!-- <ngx-avatar
          bgColor="#020028"
          fgColor="#fff"
          [name]="profileData?.name"
          size="40"
          title="You"
          [style]="avatarStyle"
        ></ngx-avatar> -->
        <div
          style="
            background-color: aliceblue;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
          "
        >
          <svg
            style="color: #020024"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </div>
      </div>
      <mat-menu #menu="matMenu">
        <!-- <mat-card-content class="menu-title" mat-menu-item
          >Hello, {{ profileData?.name.split(" ")[0] }}</mat-card-content
        > -->
        <div
          (mouseenter)="menuTrigger.openMenu(); menuOpen = true"
          (mouseleave)="closeMenu(menuTrigger)"
          *ngFor="let btn of btns"
        >
          <button
            *ngIf="btn == 'back-profile'"
            (click)="toProfile()"
            mat-menu-item
          >
            <mat-icon>arrow_back</mat-icon> <span>Back To Profile</span>
          </button>
          <button *ngIf="btn == 'back-list'" (click)="showList()" mat-menu-item>
            <mat-icon>arrow_back</mat-icon> <span>Back To List</span>
          </button>
          <button *ngIf="btn == 'list'" (click)="showList()" mat-menu-item>
            <mat-icon>list</mat-icon> <span>Users List</span>
          </button>
          <button
            *ngIf="btn == 'back-products'"
            (click)="showProducts()"
            mat-menu-item
          >
            <mat-icon>arrow_back</mat-icon> <span>Back to Products</span>
          </button>
          <button
            *ngIf="btn == 'products'"
            (click)="showProducts()"
            mat-menu-item
          >
            <mat-icon>list</mat-icon> <span>Products List</span>
          </button>
          <button *ngIf="btn == 'new'" (click)="newUser()" mat-menu-item>
            <mat-icon>person_add</mat-icon> <span>Add New User</span>
          </button>
          <button
            *ngIf="btn == 'new-product'"
            (click)="newProduct()"
            mat-menu-item
          >
            <mat-icon>person_add</mat-icon> <span>Add New Product</span>
          </button>
          <button *ngIf="btn == 'profile'" (click)="toProfile()" mat-menu-item>
            <mat-icon>account_circle</mat-icon> <span>Profile</span>
          </button>
          <button *ngIf="btn == 'logout'" (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon> <span>Logout</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </div>

  <div title="Cart" *ngIf="!showAvatar" class="cart-block">
    <button
    *ngIf="!customerName"
      type="button"
      class="btn btn-light"
      style="color: #02002e; margin-right: 20px"
    >
      Login
    </button>

    <button
      (click)="goToCart()"
      type="button"
      class="btn btn-light position-relative"
    >
      <svg
        style="color: #020024; background-color: #fff"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-cart-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      <span
        *ngIf="cartCount > 0"
        class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle count"
        >{{ cartCount }}
      </span>
    </button>
  </div>
</header>
<!-- <button (click)="count=count+1" >Count: {{count}}</button> -->
